@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon/icomoon.eot?sf4hqa');
  src:  url('../fonts/icomoon/icomoon.eot?sf4hqa#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?sf4hqa') format('truetype'), url('../fonts/icomoon/icomoon.woff?sf4hqa') format('woff'), url('../fonts/icomoon/icomoon.svg?sf4hqa#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-caret-down:before
  content: "\f0d7"

.icon-caret-right:before
  content: "\f0da"

